a {
  color: #444444;
}

body {
  background-color: #606060;
}

polygon {
  fill: #de6f63;
}

.stats-correct {
  color: #3cd23c;
}

.stats-incorrect {
  color: #d23c3c
}

.blue {
  background-color: #6395de;
  color: #e8e8e8;
}

.green {
  background-color: #63dead;
  color: #171717;
}

.grey {
  background-color: #444444;
  color: #e8e8e8;
}

.grey2 {
  background-color: #e8e8e8;
  color: #444444;
}

.red {
  background-color: #de6f63;
  color: #171717;
}

.circle-0 {
  fill: transparent;
  stroke: #666666;
}
.circle-1 {
  fill: transparent;
  stroke: #444444;
}

.rect-1 {
  fill: #d2d23c
}

.rect-2 {
  fill: #d23c3c
}

.rect-3 {
  fill: #3cd23c
}

.rect-4 {
  fill: #d23cd2
}

.rect-5 {
  fill: #3cd2d2
}

.rect-6 {
  fill: #3c3cd2
}
