<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Combination Calculator</title>
  <meta name="description" content="have a GREAT time">
  <meta name="author" content="Jack Cooper">

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>

  <div id="app" class="container-fluid" style="width: 90%">
    <div class="row grey">
      <div class="col border border-dark border-bottom-0 border-top-0">
        <h1 class="d-flex justify-content-center display-4"> Combination Calculator </h1>
        <div class="d-flex justify-content-center">
          <button type="button" @click="switchMode" class="btn mb-3">Hard Mode: {{hardModeString}}</button>
        </div>
      </div>
    </div>
    <div class="row grey2">
      <div class="col">
        <monster-child />
      </div>
    </div>
    <div class="row grey2">
      <div class="col border border-dark">
        <monster-parent />
      </div>
      <div class="col border border-dark border-left-0">
        <monster-parent />
      </div>
    </div>
    <div class="row" style="height: 10px">
    </div>
    <div class="row grey2 border border-dark border-top-0">
      <div class="col-4 border">
        <p> Links to information sources: (Many thanks to all!)</p>
      </div>
      <div class="col text-center border border-dark border-top-0 border-bottom-0">
        <a href="https://old.reddit.com/r/MonsterRancher/comments/5h1kci/monster_rancher_discord/">/r/MonsterRancher Discord</a>
      </div>
      <div class="col text-center">
          <a href="https://www35.atwiki.jp/mf2_matome/pages/1.html">Japanese Wiki</a>
      </div>
      <div class="col text-center border border-dark border-top-0 border-bottom-0">
        <a href="http://www.monster-rancher.com/discus/index.html">MRM</a>
      </div>
      </div>
    </div>
  </div>

<!-- Component Templates ---------------------------------------------------------->

  <script type="text/x-template" id="bar-chart-template">
    <svg :width="size" :height="size">
      <g>
        <rect v-for="i in barValues.length" :class="'rect-' + i"
          :x="size / 20 + (i - 1) * size / barValues.length "
          :y="size - (barValues[i - 1].value * size / maxValue)"
          :width="size / 10"
          :height="(barValues[i - 1].value * size / maxValue)">
        </rect>
        <line :x1="0" :x2="size" :y1="size - 1" :y2="size - 1" stroke="black" style="stroke-width: 2"></line>
        <line :x1="1" :x2="1" :y1="0" :y2="size" stroke="black" style="stroke-width: 2"></line>
        <text x="5" :y="15">{{maxValue}}</text>
      </g>
    </svg>
  </script>

  <script type="text/x-template" id="radar-chart-template">
    <svg :width="size" :height="size">
      <g>
      <polygon :points="coords"></polygon>
      <circle v-for="i in 5" :cx="size / 2" :cy="size / 2" :r="((i * size / 5) / 2) - 1" :class="'circle-' + i % 2"></circle>
      </g>
    </svg>
  </script>

  <script type="text/x-template" id="monster-child-template">
    <div class="monster-child">
      <div class="d-flex flex-column justify-content-center p-1">
        <div class="d-flex flex-row justify-content-center">
          <h5 class="text-center">Desired Offspring</h5>
        </div>
        <div class="d-flex flex-row justify-content-center">
          <select v-model="mainBreed">
            <option disabled value="">Select a breed</option>
            <option v-for="breed in this.$parent.breeds">{{breed}}</option>
          </select>
          <select v-model="subBreed">
            <option disabled value="">Select a breed</option>
            <option v-for="breed in this.$parent.breeds">{{breed}}</option>
          </select>
        </div>
        <div class="d-flex flex-row justify-content-center">
          <p v-if="exists" class="font-weight-light text-center p-1">Target Order:
            <span v-for="i in 5">
              {{baseStatsCorrectedOrdered[i - 1].label}} /
            </span>
            {{baseStatsCorrectedOrdered[5].label}}
          </p>
          <p v-else class="font-weight-light text-center p-1">
            Please select a valid monster
          </p>
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-template" id ="monster-parent-template">
    <div class="monster-parent">
      <!-- <div class="d-flex justify-content-center">
        <span>{{breeds}}</span>
      </div> -->
      <div class="d-flex justify-content-center p-1">
        <select v-model="mainBreed">
          <option disabled value="">Select a breed</option>
          <option v-for="breed in this.$parent.breeds">{{breed}}</option>
        </select>
        <select v-model="subBreed">
          <option disabled value="">Select a breed</option>
          <option v-for="breed in this.$parent.breeds">{{breed}}</option>
        </select>
      </div>
      <div class="d-flex flex-row">
        <div v-for="gain in gains" class="p-2 w-100">
          <span>{{gain.label}}: {{gain.value}}</span>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div>
          <input v-model.number="initialStats[0].value" placeholder="L" class="w-50">
        </div>
        <div>
          <input v-model.number="initialStats[1].value" placeholder="P" class="w-50">
        </div>
        <div>
          <input v-model.number="initialStats[2].value" placeholder="I" class="w-50">
        </div>
        <div>
          <input v-model.number="initialStats[3].value" placeholder="Sk" class="w-50">
        </div>
        <div>
          <input v-model.number="initialStats[4].value" placeholder="Sp" class="w-50">
        </div>
        <div>
          <input v-model.number="initialStats[5].value" placeholder="D" class="w-50">
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <div v-for="i in 6">
          <input disabled :value="statsCorrected[i-1].value" class="w-50">
        </div>
      </div>
      <div class="p-3 d-flex">
        <div class="flex-column">
          <select v-model="chartDisplay" class="mb-3 align-self-start">
            <option disabled value="">Chart Display</option>
            <option value="stats">Monster Stats</option>
            <option value="statsCorrected">Corrected Stats</option>
            <option value= "baseStats">Base Stats</option>
            <option value= "baseStatsCorrected">Corrected Base Stats</option>
          </select>
          <br>
          <radar-chart v-if="chartType == 'radar' && chartDisplay == 'gains'" :size="300" :vertices="gains" />
          <bar-chart v-if="chartType == 'bar' && chartDisplay == 'gains'" :size="300" :bar-values="gains" :max-value="5"/>
          <bar-chart v-if="chartType == 'bar' && chartDisplay == 'stats'" :size="300" :bar-values="stats" :max-value="999"/>
          <bar-chart v-if="chartType == 'bar' && chartDisplay == 'statsCorrected'" :size="300" :bar-values="statsCorrected" :max-value="999"/>
          <bar-chart v-if="chartType == 'bar' && chartDisplay == 'baseStats'" :size="300" :bar-values="baseStats" :max-value="maxValue(baseStats)"/>
          <bar-chart v-if="chartType == 'bar' && chartDisplay == 'baseStatsCorrected'" :size="300" :bar-values="baseStatsCorrected" :max-value="maxValue(baseStatsCorrected)"/>
        </div>
        <div class="flex-column mx-auto">
          <div v-if="exists">
            <h5 class="pb-2">Corrected Stats</h5>
            <p class="font-weight-light">
              <span v-for="i in 5">
                {{statsCorrected[i - 1].value}} /
              </span>
              <span>
                {{statsCorrected[5].value}}
              </span>
            </p>
            <p class="font-weight-light stats-incorrect">
              <span v-for="i in 5"
              :class="{ 'stats-correct': statOrder[i - 1].label == desiredStatOrder[i - 1].label,
                        'font-weight-normal': statOrder[i - 1].label == desiredStatOrder[i - 1].label }">
                {{statOrder[i - 1].label}}<span class="font-weight-light grey2"> / </span>
              </span>
              <span
              :class="{ 'stats-correct': statOrder[5].label == desiredStatOrder[5].label,
                        'font-weight-normal': statOrder[5].label == desiredStatOrder[5].label }">
                {{statOrder[5].label}}
              </span>
            </p>
            <h5 class="pb-2">Base Stats</h5>
            <p class="font-weight-light">
              <span v-for="i in 5">
                {{baseStats[i - 1].value}} /
              </span>
              <span>
                {{baseStats[5].value}}
              </span>
            </p>
            <h5 class="pb-2">Corrected Base Stats</h5>
            <p class="font-weight-light">
              <span v-for="i in 5">
                {{baseStatsCorrected[i - 1].value}} /
              </span>
              <span>
                {{baseStatsCorrected[5].value}}
              </span>
            </p>
            <p class="font-weight-light">
              <span v-for="i in 5">
                {{baseStatsCorrectedOrdered[i - 1].label}} /
              </span>
              <span>
                {{baseStatsCorrectedOrdered[5].label}}
              </span>
            </p>
          </div>
          <div v-else class="p-3">
            <p class="font-weight-bold">Select a valid monster to see detailed info</p>
          </div>
        </div>
      </div>
    </div>
  </script>

<!-- Components & Helper Scripts ---------------------------------------------->
  <script src=js/vue.min.js></script>
  <script src=js/data.js></script>
  <script src=js/monster-child.js></script>
  <script src=js/monster-parent.js></script>
  <script src=js/bar-chart.js></script>
  <script src=js/radar-chart.js></script>

<!-- Vue Instance ------------------------------------------------------------->

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        breeds: breedList,
        hardMode: false
      },
      computed: {
        hardModeString: function () {
          if (this.hardMode)
          {
            return 'On'
          }
          else
            {
              return 'Off'
            }
        },
        statOrder: function() {
          var statOrder = []
          this.$children.forEach(function(element) {
            if (element.constructor.options.name == "monster-child")
            {
              statOrder = element.baseStatsCorrectedOrdered
            }
          })
          return statOrder
        }
      },
      methods: {
        switchMode: function () {
          this.hardMode = !this.hardMode
          this.$children.forEach(function(element) {
            if (element.constructor.options.name == "monster-parent" || element.constructor.options.name == "monster-child")
            {
              element.hardMode = !element.hardMode
            }
          })
        }
      }
    })
  </script>
</body>
